<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154683045378-0nth4eu49mb3b0uhbdttr9gk7740ks0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154683045378-0nth4eu49mb3b0uhbdttr9gk7740ks0d</string>
	<key>API_KEY</key>
	<string>AIzaSyAFWIqpwyZFRGOFzAxdVmaJbRFSbg2psxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>154683045378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.telesapps.tournamentMaker</string>
	<key>PROJECT_ID</key>
	<string>tournamentmaker-telesapps</string>
	<key>STORAGE_BUCKET</key>
	<string>tournamentmaker-telesapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154683045378:ios:3637c8b19ec9551fb1991b</string>
	<key>DATABASE_URL</key>
	<string>https://tournamentmaker-telesapps.firebaseio.com</string>
</dict>
</plist>