<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center"><h3>My Tournaments</h3></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      Show list of Tournaments here
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center" size="12">
      <ion-button [routerLink]="['/create-tournament']">
        Create New Tournament
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
