<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Creating a New Tournament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size-xl="6" push-xl="3">
      <ion-list>
        <ion-item>
          <ion-label>Tournament Type:</ion-label>
          <ion-button (click)="presentTourTypeModal()">
            {{tournamentTypeText}}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Tournament Type</ion-label>
          
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>